.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: black;
  margin-bottom: 15px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

nav > a > img {
  width: 85px;
  height: 85px;
}

.navBarback {
  width: 100%;
  height: 85px;
}

.little_Tumanyan {
  color: whitesmoke;
}

.input-bar {
  width: 200px;
  border-radius: 25px;
  padding-left: 5px;
  outline: none;
box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.col-md {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  margin: 10px;   
  border-radius: 6px;
  background-color: #4682b4;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.container img {
  width: 200px;
  height: 300px;
  margin-bottom: 15px;
}

.book_button {
  width: 40px;
  height: 20px;
  margin-bottom: 15px;
  justify-content: center;

}