/* body {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
} */

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.global {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 100px;
}

.convert_block {
  width: 300px;
  height: 100px;
  background-color: rgb(205, 242, 245);
  font-size: 3em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.ss {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.swap_button {
  height: 50px;
  width: 50px;
  background-color: rgb(226, 199, 199);
  margin: 10px;
}

.input_num {
  width: 300px;
  height: 100px;
  background-color: white;
  font-size: 3em;
}

.form_class {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}