.name {
  color: rgb(255, 0, 200);
}

img {
    width: 120px;
}

#a1 {
  font-size: 200px;
  font-family: Arial, Helvetica, sans-serif;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* #a1:hover {
    color: green;
  } */

@keyframes example {
  from {
    color: red;
  }
  to {
    color: yellow;
  }
}

#a2 {
  font-size: large;
  font-family: fantasy;
  animation-name: ex;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  float: right;
  margin: 120px;
}

@keyframes ex {
  from {
    color: blueviolet;
  }
  to {
    color: green;
  }
}
