.card .card-action, .card-light .card-action {
    display: flex;
    background-color: transparent;
    line-height: 30px;
    border-top: none !important;
    font-size: 14px;
    align-items: baseline;
    align-content: space-between;
    flex-direction: row;
    justify-content: start;
    margin-left: 22%;
    margin-top: -5%;
}

.card .card-header, .card-light .card-header {
    border-bottom: none !important;
}




