* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

body { 
    background: fixed;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/021/016/507/large/mark-csikos-library-white.jpg?1570042109");
    background-repeat:  repeat;
}

h1 {
    font-size: -webkit-xxx-large;
    text-align: center;
    padding-top: 15px;
    /* color: #f4f8f8; */
    color: #908f99a3;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.header {
    text-align: center;
    /* background-color: #5f9ea0de; */
    background-color: #d9dadc66;
}

/* .wrapper {
    background-color: #5f9ea012;
}  */

#count-form {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: hsl(237deg 100% 50% / 4%); */
}

#input-tag{
    font-size: 45px;
    height: 50px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    border: 4px solid #0000002b;
    background: padding-box;
    color: #b3b2b9;
}

#submit-button {
    font-size: 20px;
    height: 30px;
    width: 50px;
    text-align: center;
    border-radius: 4px;
    margin-left: 20px;
    border: 2px solid #0000002b;
    background: whitesmoke;
    color: #b3b2b9;
}

/* .wrapper {
    background-color: #5f9ea012;
} */

/* .main {
    background-image: linear-gradient(#6b7df385, #6638b94a);
} */

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: auto;
}

.book-item {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    height: 380px;
    width: 260px;
    border: 7px solid #00000061;
    margin: 70px;
    text-align: center;
    border-radius: 10px;
}

.book-item > img {
    height: 300px;
    width: 220px;
    opacity: 1;
    transition: 0.7s ease;
}

.book-item:hover > img {
    height: 310px;
    width: 230px;
    transition: 0.7s ease-out;
}

.img-item {
    height: 300px;
    width: 200px;
}

.title-tag , .author-tag {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding: 5px;
    font-weight: bold;
    color: #908f99;
}

.material-icons {
    font-size: 50px !important;
    /* color: rgb(244 248 248); */
    color: #b3b2b9;
    padding: 15px;
}