body {
    display: flex;
    justify-content: center;
}

th {
    text-align: center;
    padding: 8px;
    height: 7px;
    width: 110px;
}

td {
    text-align: center;
    padding: 8px;
    height: 7px;
    width: 110px;
}

th {
    background-color: #6d678f;
    ;
    color: white;
}