.Converter{
    width: 400px;
    height: 200px;
    background-color: blue;
    position: absolute;
    margin: 100px, 100px, 100px, 100px;
}

h1 {
    text-align: center;
    margin: 15px;
}

#measurement{
    margin-left: 400px;
    margin-bottom: 30px;
    height: 45px;
    width: 100px;
}

input{
    color: blue;
    height: 25px;
    text-align: center;
    margin-left: 350px;
}


#inputType{
    margin-left: 350px;
}