#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}
#mainSelector {
    width: 442px;
    height: 50px;
}

#input1, #input2 {
    height: 50px;
}

#selectForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#leftSelect, #rightSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
}