.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smile_body {
    height: 500px;
    width: 500px;

    background-color: rgb(72, 3, 94);

    border-radius: 50%;
}

.right {
    position: absolute;
    z-index: -1;
    top: -25px;
    left: 0;
    right: 318px;
    height: 120px;
    width: 200px;
    margin: 0 auto;
    border-bottom: 100px solid rgb(72, 3, 94);
    border-radius: 100%;
    transform: rotate(60deg);
}

.left {
    position: absolute;
    z-index: -1;
    top: -25px;
    right: 0;
    left: 318px;
    height: 120px;
    width: 200px;
    margin: 0 auto;
    border-bottom: 100px solid rgb(72, 3, 94);
    border-radius: 100%;
    transform: rotate(-60deg);
}

.eyes {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.left_eyebrow {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 163px;
    right: 0;
    height: 16px;
    width: 116px;
    margin: 0 auto;
    border-top: 20px solid;
    border-radius: 100%;
    transform: rotate(-35deg);

}

.left_eye {
    position: relative;
    top: 100px;
    left: 30px; 

    width: 70px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

.right_eyebrow {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: -163px;
    right: 0;
    height: 16px;
    width: 116px;
    margin: 0 auto;
    border-top: 20px solid;
    border-radius: 100%;
    transform: rotate(35deg);
}

.right_eye {
    position: relative;
    top: 100px;
    right: 30px;

    width: 70px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

.mouth {
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 0;
    right: 0;
    height: 120px;
    width: 200px;
    margin: 0 auto;
    border-bottom: 50px solid;
    border-radius: 100%;
}